@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  background-color: #181719;
  color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
}
nav div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav__brand {
  display: block;
  border: #fff 0.1rem solid;
  margin: 1rem 0;
  padding: 0.5rem;
  color: #fff;
}

.nav__list {
  width: 100%;
  display: none;
}
.responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}
.responsive-main {
  display: none;
}
.nav__list a {
  color: #fff;
}

.nav__list li a:hover {
  border-bottom: #fff 0.1rem solid;
  font-weight: bold;
}

/* hamburger menu */

.nav-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin: 1rem;
}
.nav-btn__burger {
  width: 1.5rem;
  height: 0.3rem;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.nav-btn__burger::before,
.nav-btn__burger::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 0.3rem;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.nav-btn__burger::before {
  transform: translateY(-0.5rem);
}
.nav-btn__burger::after {
  transform: translateY(0.5rem);
}

/* ANIMATION */
.nav-btn.open .nav-btn__burger {
  transform: translateX(-1rem);
  background: transparent;
  box-shadow: none;
}
.nav-btn.open .nav-btn__burger::before {
  transform: rotate(45deg) translate(1rem, -1rem);
}
.nav-btn.open .nav-btn__burger::after {
  transform: rotate(-45deg) translate(1rem, 1rem);
}

.current-link {
  font-weight: bold;
  border-bottom: #fff 0.1rem solid;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  margin: 5rem 0 10rem;
}

.hero-text {
  padding: 2rem 0;
  max-width: 25rem;
}
.hero-text__headline {
  font-family: "Lora";
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
}

.hero-text__description {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 0;
  max-width: 24ch;
}
.hero-text__link {
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 1.3rem;
  color: #fff;
}
.hero-text__link:hover {
  border-bottom: #fff 1px solid;
}

.hero-img {
  border-radius: 2px;
}
.profile {
  padding: 1rem;
  width: 210px;
  background-color: #181719;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-row {
  display: flex;
  align-items: center;
}

.profile__img {
  width: 62px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
}
.profile__headline {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.06rem;
}

.profile__subheadline {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.06rem;
  color: #828282;
}
.profile__description {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.hero-banner {
  position: relative;
}

.profile {
  width: 20rem;
  position: absolute;
  bottom: -25%;
  right: 10%;
}

footer {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.06rem;
  text-align: center;
  color: #a9a9a9;
  padding: 3rem 0 1rem 0;
}

@media only screen and (min-width: 700px) {
  nav {
    display: flex;
    flex-direction: row;
  }
  .nav-btn {
    display: none;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
  .responsive {
    display: flex;
    max-height: 3rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
}
